.skeleton {
  background: linear-gradient(0deg, var(--neutral-50), var(--neutral-50));
  background: linear-gradient(
    125deg,
    var(--neutral-50) 25%,
    var(--neutral-150) 37%,
    var(--neutral-50) 63%
  );
  background-size: 400% 100%;
  animation-name: skeleton-loading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  height: 16px;
  width: 100%;
  border-radius: 4px;
}

.skeleton.brand {
  background: linear-gradient(0deg, var(--brand-50), var(--brand-50));
  background: linear-gradient(
    125deg,
    var(--brand-50) 25%,
    var(--brand-100) 37%,
    var(--brand-50) 63%
  );
  background-size: 400% 100%;
  animation-name: skeleton-loading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  height: 16px;
  width: 100%;
  border-radius: 4px;
}

.skeleton-circle {
  background: linear-gradient(0deg, var(--neutral-50), var(--neutral-50));
  background: linear-gradient(
    125deg,
    var(--neutral-50) 25%,
    var(--neutral-150) 37%,
    var(--neutral-50) 63%
  );
  background-size: 400% 100%;
  animation-name: skeleton-loading;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  height: 108px;
  width: 108px;
  border-radius: 50%;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
