# Binaries
*.exe
*.dll
*.so
*.dylib
main
seed-users
simawa-backend

# Temp files
tmp/

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Tests
tests/
